body {
  background-color: #37434c;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: #bae1ff;
  border-radius: 50%;
}

.inside p {
  font-weight: bold;
  color: #37434c;
}
